<!-- about-us.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-button color="dark" class="ion-no-padding" slot="start">
      <ion-back-button class="ion-no-padding" defaultHref="/home"></ion-back-button>
    </ion-button>
    <ion-title text-center >About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Introduction Section -->
  <div class="section">
    <ion-card class="ion-padding-horizontal ion-margin-vertical">
      <div class="wrap">
        <h2>Mission & Vision</h2>
         
      </div>
    <p>Blood Connect is dedicated to bridging the gap between blood donors and recipients...</p>
    <p>Our vision is to ensure timely access to safe blood for every individual in need...</p>
    </ion-card>
    
  </div>

  <!-- Our Story Section -->
  <div class="section">
    <ion-card class="ion-padding-horizontal ion-margin-vertical">
       <div class="wrap">
        <h2>Our Story</h2>
      </div>
    <p>B
      lood Connect was founded in 2023 by a group of passionate individuals who recognized the urgent need for blood
    </p>
    <p>Our team consists of dedicated volunteers who have worked tirelessly to acomplish the mission</p>
    <p>Since our inception, we have successfully facilitated countless blood donations, saving lives</p>
    </ion-card>
   
  </div>

  <!-- Features and Benefits Section -->
  <div class="section">
    <ion-card class="ion-padding-horizontal ion-margin-vertical">
      <div class="wrap">
        <h2>Features & Benefits </h2>
        </div>
      
     <ul>
      <li>Search Donors: Easily find blood donors based on location, blood type, and availability.</li>
      <li>Request Blood: Submit blood requests for specific blood types and quantities.</li>
      <li>Emergency Alerts: Receive instant alerts during emergencies to mobilize donors quickly.</li>
      <li>Donation History: Keep track of your blood donation history and contributions to the community.</li>
      <li>Notifications: Stay informed about upcoming blood donation drives and events.</li>
    </ul>
    <p>By using Blood Connect, users can save lives, contribute to their community, and make a positive impact on
      society.</p> 
    </ion-card>
    
    
  </div>

  <!-- How It Works Section -->
  <ion-card class="section" class="ion-padding-horizontal ion-margin-vertical">
    <div class="wrap">
      <h2>How It Works</h2>
      </div>
    
    <p>1
      . Sign up for a Blood Connect account or log in if you're an existing user.</p>
    <p>2. Search for blood donors in your area by specifying your location and required blood type.</p>
    <p>3. Contact the donor directly or send a blood request through the app.</p>
    <p>4. Once a donor is found, arrange for blood donation at a convenient location and time.</p>
    <p>5. After the donation, both the donor and recipient can update their donation status on the app.</p>
  </ion-card>

  <!-- Testimonials Section -->
  <div class="section ion-padding-horizontal ion-margin-vertical">
    <div class="wrap">
      <h2>Testimonials</h2>
      </div>
      <ion-row>
    <ion-card>
      <ion-card-header>
        Testimonial 1
      </ion-card-header>
      <ion-card-content>
        "Blood Connect helped me find a blood donor for my [type of medical emergency] within hours. I'm grateful for
        their service!"
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        Testimonial 2
      </ion-card-header>
      <ion-card-content>
        "As a regular blood donor, I appreciate the convenience and ease of finding donation opportunities through Blood
        Connect. Highly recommended!"
      </ion-card-content>
    </ion-card>
  </ion-row>
  </div>

  <!-- Community Engagement Section -->
  <div class="section">
    <ion-card class="ion-padding-horizontal ion-margin-vertical">
      <div class="wrap">
        <h2>Community Engagement</h2>
         </div>
      
    <p>Join us in our mission to save lives by becoming a blood donor today...</p>
    <p>We collaborate with hospitals, blood banks, and community organizations to organize blood donation drives and
      awareness campaigns...</p>
    <p>Get involved by volunteering at events, spreading awareness on social media, or donating to support our cause...
    </p>
    </ion-card>
    
  </div>

</ion-content>

