form {
    width: 100vw;
    padding: 15px;
}

ion-input {
    width: 100%;
    padding: 5px 15px;
    border: none;
    --highlight-color-focused: grey;
    caret-color: black;
    --highlight-height: 0;
}

ion-textarea {
    border: 2px solid grey;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    padding: 8px 15px;
    --highlight-height: 0;
}

ion-button {
    border-radius: 5px;
    padding: 5px 0;
    --padding-top: 5px;
    --padding-bottom: 5px;
}

.wrap {
    margin: 10px 0 0;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 2px solid grey;
    gap: 8px;
}

ion-icon {
    font-size: 2.2em;
    border-right: 2px solid grey;
    padding: 0 5px;
}

ion-title {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
}

.input-highlight.sc-ion-input-md {
    height: 0;
    background: transparent;
    --highlight-color: transparent;
}

.textarea-highlight {
    --highlight-color: transparent;
    display: none;
}

.has-focus.sc-ion-input-md-h .input-highlight {
    display: none;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.sc-ion-textarea-md-h {
    --background: initial;
    --color: initial;
    --placeholder-color: initial;
    --placeholder-font-style: initial;
    --placeholder-font-weight: initial;
    --placeholder-opacity: 0.6;
    --padding-top: 0;
    --padding-end: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --border-radius: 0;
    --border-style: solid;
    --highlight-color-focused: grey;
    --highlight-color-valid: var(--ion-color-success, #2dd36f);
    --highlight-color-invalid: var(--ion-color-danger, #eb445a);
    --highlight-color: var(--highlight-color-focused);
    display: block;
    position: relative;
    width: 100%;
    color: var(--color);
    font-family: var(--ion-font-family, inherit);
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.has-focus.sc-ion-textarea-md-h .textarea-highlight.sc-ion-textarea-md {
    -webkit-transform: scale(0);
    transform: scale(0);
}