h2 {
    position: relative;
    width: fit-content;
}

h2::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    height: 2px;
    width: 50%;
    background-color: grey;
}

.wrap {
    display: flex;
    justify-content: center;
}

.content1 {
    background-color: rebeccapurple;
}

.line {
    width: 100%;
    height: 2px;
    background-color: grey;
    margin-top: 8px;
}

.text-area {
    ion-icon {
        font-size: 24px;
        padding: 0;
        margin: 0;
    }

    .ion-center {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.content {
    .chips {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;

        ion-chip {
            white-space: nowrap;
        }

        .active {
            color: #f4f5f8;
            background-color: #e53935;
        }
    }
}